:root {
  --title-color: rgb(88, 221, 64);
  --text-color: rgb(130, 197, 209);
  --border-bottom: 0.5px solid rgb(60, 73, 121);
  --container: rgb(29, 19, 41);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1580px;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "roboto", sans-serif;
}

body {
  background: linear-gradient(rgb(8, 0, 41), rgb(22, 9, 37));
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.5rem;
  font-weight: 300;
}
p {
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 2rem;
}
